
@{
    ViewData["Title"] = "ListarUsuarios";
}

<h1>ListarUsuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>E-mail</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in ViewBag.ListaUsuarios as List<Athos.Web.ViewModels.UsuarioViewModel>)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>

</table>
